* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}


.con {
    width: 100vw;
    height: 100vh;
    background-image: url(images/background.png);
    background-position: center;
    background-size: cover;
    padding: 0 8%;
    position: relative;
}


.logo {
    width: 120px;
    padding: 20px 0;
    cursor: pointer;
}

.cont {
    top: 50%;
    position: absolute;
    margin-top: -5%;
    color: #fff;
}

.cont h1 {
    font-size: 64px;
    font-weight: 600;
}

.cont h1 span {
    color: #ff3753;
}

.cont button {
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    padding: 12px 25px;
    cursor: pointer;
    color: #fff;
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.cont button img {
    width: 15px;
    margin-left: 10px;
}

.time {
    display: flex;
}
.time div {
    flex-basis: 100px;
}

.time div p {
    font-size: 60px;
    margin-bottom: -14px;
}

.rock {
    width: 250px;
    position: absolute;
    right: 10%;
    bottom: 35%;
}